.App {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap

}

.app-logo {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.app-header {
  padding: 20px;
  align-items: center;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

