.App {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
}

.app-logo {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.app-header-logo{
  float: left !important;
  margin-top: -15px !important;
}

.drewfis-container {
/*  //padding: 20px;
  //align-items: center;*/
  overflow-y: auto !important;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.hide-bong {
  display: none;
}

.previous {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}

.prevCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}

.nextCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}