body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hide-bong {
  display: none;
}


/*
body, html { height: 100vh; width: 100vw; overflow: hidden; }
*/

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.prevCircle {
  display: block;
  margin-left: auto;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.nextCircle {
  display: block;
  margin-right: auto;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}


.previous {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}

.next {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}


.costText{
  font-size: x-large;
}

.drewfis-container {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.frame::-webkit-scrollbar {
  -webkit-appearance: none;
}

.frame::-webkit-scrollbar:horizontal {
  height: 11px;
}

.frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}
.frame::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.drewfis-card {
  display: inline-block;
}

.scroll-drew {
  overflow-x:scroll;
  overflow-y: scroll;
}

.menu-item{
  padding-top: 5px;
}

.build-button{
  float: right !important;
  margin-right: 2px !important;
  padding-right: 2px !important;
  margin-left: 13px;
  color: black !important;
  margin-bottom: 15px;
  padding-left: 325px;
  padding-top: 13px;
  padding-bottom: 2px;
}

.button-buy{
  display: inline;
}

.sev-bong{
  max-width:75% !important;
 }

.fifth{
  overflow:auto;
  display: inline;
  margin-bottom: 20%;
}

.fifth-bot{
  margin-bottom: 56%;
}

.fa-arrow-right{
  top: 50%;
}

.fa-arrow-left{
  top: 50%;
}

.pricing-bot{
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

 .center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .middle-bong{
   margin-top: auto;
   margin-bottom: auto;
   padding-left: 0;
   padding-right: 0;
 }

.middle-arrow{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 480px) and (min-width: 320px) {
  /* For mobile phones: */
  * {
    box-sizing: border-box;
  }
}