body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hide-bong {
  display: none;
}

.previous {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}

.prevCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 20;
}

.nextCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 85%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
  cursor: pointer;
}

.drewfis-container {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.frame::-webkit-scrollbar {
  -webkit-appearance: none;
}

.frame::-webkit-scrollbar:horizontal {
  height: 11px;
}

.frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}
.frame::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.drewfis-card {
  display: inline-block;
}

.scroll-drew {
  overflow-x:scroll;
  overflow-y: scroll;
}

.menu-item{
  padding-top: 5px;
}

.build-button{
  float: right !important;
  margin-right: 2px !important;
  padding-right: 2px !important;
  margin-left: 10px;
  color: black !important;
  margin-bottom: 15px;
  padding-left: 325px;
  padding-top: 13px;
  padding-bottom: 2px;
}